<%- include("partials/header") %>
    <link rel="stylesheet" href="/css/cart.css">

<div class="container-fluid">
<br>
    <div class="row justify-content-md-center"> 
        <div class="col-12 col-md-8 text-center">
            <h4>ตะกร้าสินค้า</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">หมายเลขสลาก</th>
                        <th scope="col">ราคาต่อชิ้น</th>
                        <th scope="col">จำนวน</th>
                        <th scope="col">ราคารวม</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% cart.items.forEach(function(lot){ %>
                            <tr>
                                <td scope="row"><a href="/blog/lotId=<%= lot.item %>" style="color: black;"><%= lot.number %></a></th>
                                <td><%= lot.price %> บาท</td>
                                <td><%= lot.qty %> ชิ้น</td>
                                <td><%= (lot.price * lot.qty) %> บาท</td>
                            </tr>
                        <% }) %>
                        <tr>
                            <td colspan="3">ราคารวมทั้งหมด</td>
                            <td><%= cart.total %> บาท</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <% if(locals.user){ %>
                <a class="botton2 btn btn-outline-primary" href="#" role="button">ซื้อเลย</a>
            <% } %>
            <% if(!locals.user){ %>
                <p>กรุณาล็อคอินก่อนสั่งซื้อสลาก</p>
            <% } %>
        </div>
    </div>
</div>
<%- include("partials/footer") %>