<%- include("partials/header") %>
    <br><br>
    <div class="container" >
        <div class="row">
            
            <div class="col-md-12 col-lg-6 text-center">
                <!-- <div class="card-img-top"><img class="img-fluid" src="/lotteriesData/<%  %>"></div> -->
                <div class="card-img-top"><img class="img-fluid" src='/lotteriesData/<%= l.image %>'></div>
            </div>
            <div class="col-md-12 col-lg-6 text-center">
                <form class="form-group" action="/cart" method="post" style="margin: 2px auto;">
                <ul class="list-inline head">
                    <li class="list-inline-item">สลากหมายเลข : </li>
                    <li class="list-inline-item"><%= l.number %></li>
                </ul>
                <ul class="list-inline buy">
                    <li class="list-inline-item">จำนวน </li>
                    <li class="list-inline-item" id="Lot-Type"><button type="button" class="btn btn-secondary btn-sm" id="minus" onclick=Dec()>-</button></li>
                    <li class="list-inline-item" id="Lot-Type"><input type="text" class="form-control" id="proc" name="qty" value="1" size="1" onkeypress="return onlyNumberKey(event)"></li>
                    <li class="list-inline-item" id="Lot-Type"><button type="button" class="btn btn-secondary btn-sm" id="plus" onclick=Inc()>+</button></li>
                </ul>
                <p id="warning">ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้</p>

                <ul class="list-inline type">
                    <li class="list-inline-item">ราคาต่อสลาก </li>
                    <li class="list-inline-item" id="pricePerOne"><%= l.price %></li>
                    <li class="list-inline-item"> บาท</li>
                </ul>
                <ul class="list-inline type">
                    <li class="list-inline-item">ราคารวม </li>
                    <li class="list-inline-item" id="price"><%= l.price %></li>
                    <li class="list-inline-item"> บาท</li>
                </ul>
                <% if(l.remaining > 9){ %>
                <ul class="list-inline type">
                    <li class="list-inline-item">สินค้าคงเหลือมากกว่า </li>
                    <li class="list-inline-item" id="remain">9</li>
                    <li class="list-inline-item"> ชิ้น</li>
                </ul>
                <% } %>
                <% if(l.remaining > 0 && l.remaining <= 9){ %>
                    <ul class="list-inline type">
                        <li class="list-inline-item">สินค้าคงเหลือ </li>
                        <li class="list-inline-item" id="remain"><%= l.remaining %></li>
                        <li class="list-inline-item"> ชิ้น</li>
                    </ul>
                <% } %>
                <ul class="list-inline buy">
                    <li class="list-inline-item" id="Lot-Type">
                        <!-- ส่งข้อมูลไปยังรถเข็น -->
                            <input type="hidden" name="lot_id" value="<%=l._id%>">
                            <input type="submit" id="submit" class="btn btn-success btn-sm" value="เพิ่มไปยังรถเข็น">
                    </li>
                </ul>
                </form>
            </div>
            
        </div>
    </div>
    <script>
        var start = intial();

        function intial() {
            var ch = document.getElementById("proc").value;
            var i = ch.codePointAt(0);
            var remain = document.getElementById("remain").innerHTML;
            var r = remain.codePointAt(0);
            if(i > r){
                document.getElementById("warning").style.visibility = "visible";
                document.getElementById("warning").innerHTML = "ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้";
                document.getElementById("submit").style.visibility = "hidden";
            }
        }

        function onlyNumberKey(evt) { 
              var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
              if (ASCIICode > 31 && (ASCIICode < 49 || ASCIICode > 57)){
                document.getElementById("warning").style.visibility = "visible";
                document.getElementById("warning").innerHTML = "กรุณาใส่จำนวนสลาก 1-9 เท่านั้น";
                return false;
              }
              return true; 
          } 
    
        function Inc() {
            var ch = document.getElementById("proc").value;
            var i = ch.codePointAt(0);
            var price = document.getElementById("pricePerOne").innerHTML;
            var remain = document.getElementById("remain").innerHTML;
            var r = remain.codePointAt(0);
            if(i < 57){
                i++;
                document.getElementById("proc").value = String.fromCodePoint(i);
                document.getElementById("price").innerHTML = (i - 48) * parseInt(price);
                document.getElementById("warning").style.visibility = "hidden";
            }
            else if(i === 57){
                document.getElementById("warning").style.visibility = "visible";
                document.getElementById("warning").innerHTML = "ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้";
            }
            if(i === 50){
                document.getElementById("warning").style.visibility = "hidden";
                document.getElementById("warning").innerHTML = "ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้";
            }
            if(i > r){
                document.getElementById("warning").style.visibility = "visible";
                document.getElementById("warning").innerHTML = "ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้";
                document.getElementById("submit").style.visibility = "hidden";
            }
            else if(i == r){
                document.getElementById("warning").style.visibility = "visible";
                document.getElementById("warning").innerHTML = "ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้";
            }
            
        }
        function Dec() {
            var ch = document.getElementById("proc").value;
            var i = ch.codePointAt(0);
            var price = document.getElementById("pricePerOne").innerHTML;
            var remain = document.getElementById("remain").innerHTML;
            var r = remain.codePointAt(0);
            if(i > 49){
                i--;
                document.getElementById("proc").value = String.fromCodePoint(i);
                document.getElementById("price").innerHTML = (i - 48) * parseInt(price);
                document.getElementById("warning").style.visibility = "hidden";
            }
            else if(i === 49){
                document.getElementById("warning").style.visibility = "visible";
                document.getElementById("warning").innerHTML = "ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้";
            }
            if(i === 56){
                document.getElementById("warning").style.visibility = "hidden";
                document.getElementById("warning").innerHTML = "ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้";
            }
            if(i < r){
                document.getElementById("warning").style.visibility = "hidden";
                document.getElementById("warning").innerHTML = "ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้";
                document.getElementById("submit").style.visibility = "visible";
            }
            else if(i == r){
                document.getElementById("warning").style.visibility = "visible";
                document.getElementById("warning").innerHTML = "ไม่สามารถเพิ่ม/ลดจำนวนสลากไปกว่านี้";
                document.getElementById("submit").style.visibility = "visible";
            }
        }
    </script>

<%- include("partials/footer") %>