<%- include("partials/header") %>

<div class="container-fluid">
<br>
    <div class="row justify-content-md-center" style="min-height: 400px"> 
        <div class="col-12 col-md-8 text-center">
            <h4>ประวัติการซื้อ</h4>
            <br>
            <div class="table-responsive">
                <% if(hist.length == 0) { %>
                    <p style="color: red;">ไม่พบประวัติการซื้อ</p>
                <% } %>
                    
                <% if(hist.length != 0) { %>
                <table class="table table-hover">
                    <thead style="font-size: 15px;">
                        <th scope="col">หมายเลขสั่งซื้อ</th>
                        <th scope="col">เวลาซื้อ</th>
                        <th scope="col">งวดสลาก</th>
                        <th scope="col">หมายเลขสลาก</th>
                        <th scope="col">จำนวน (ชิ้น)</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% hist.forEach(function (h) { %>
                            <tr style="font-size: 15px;">
                                <td><%= h._id %></td>
                                <td><%= m(h.orderTime).format("DD-MMMM-YYYY HH:mm") %></td>
                                <td><%= h.t %></td>
                                <td><%= h.number %></td>
                                <td><%= h.qty %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>