<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/lotday.css">
    <script src="/js/lotday.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" defer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>    
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
      <a href="/" class="logo"><img src ="/images/khohuai1.png"></a>
      <a href="/admin/add" class="w3-bar-item w3-button">เพิ่ม/ลบ สลาก</a>
      <a href="/admin/lotday" class="w3-bar-item w3-button">ผลออกสลาก</a>
      <a href="/admin/status" class="w3-bar-item w3-button">สถานะการโอนเงิน</a>
    </div>
    <div class="w3-main" style="margin-left:200px">
      <div class="main">
        <button class="w3-button w3-white w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="head w3-container">
          <h3>ผู้ดูแลระบบ</h3>
        </div>
      </div>
      <div class="container col-sm-12" style="min-height: 400px">
        <br>
        <h4>ผลออกสลาก</h4>
        <br>
        <form action="/admin/prize" method="POST">
        <div class="form-row">
            <div class="form-group col-md-1 col-2">
                <input class="form-control" type="text" name="t" placeholder="งวดที่" id="one" required>
            </div>
            <div class="form-group col-md-2 col-3">
                <input type="text" class="form-control" name="rank" id="two" placeholder="รางวัลที่" required>
            </div>
            <div class="form-group col-md-3 col-5">
                <input type="text" class="form-control" name="number" id="three" placeholder="หมายเลขที่ถูกรางวัล" required>
            </div>
            <div class="form-group col-md-2 col-4">
                <input type="text" class="form-control" name="prize" id="four" placeholder="จำนวนเงินรางวัล" required>
            </div>
            <div class="form-group col-md-2 col-4">
                <button type="submit" type="button" class="btn btn-info btn-md">เพิ่ม</button>
            </div>
        </div>
        </form>

        <table class="table table-hover">
            <thead>
                <th>งวดที่</th>
                <th>รางวัลที่</th>
                <th>หมายเลขที่ถูกรางวัล</th>
                <th>จำนวนเงินรางวัล</th>
                <th>ลบ</th>
            </thead>
            <% Prize.forEach(function(p){ %>
                <tbody id="data">
                  <tr>
                    
                    <form method="post" action="/admin/deletePrize=<%= p._id %>">
                      <th><%= p.t %></th>
                      <th><%= p.rank %></th>
                      <th><%= p.number %></th>
                      <th><%= p.prize %></th>
                      <th><u><button type="submit" class="btn btn-danger">ลบ</button></u></th>
                    </form>
                  </tr>
                </tbody>
            <% }) %>
        </table>
      </div>
    </div>
  </body>
</html>