<%- include("partials/header") %>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/shop.css">

    <link rel="stylesheet" href="/css/shop.css">

    <div class="container mb-3">
        <br>
        <form action="/search" method="GET">
            <div class="row justify-content-md-center">
                <div class="col-lg-7 col-md-12">
                    <div class="input-group">
                        <input type="search" class="form-control" name="keyword" placeholder="ใส่หมายเลขที่คุณต้องการค้นหา">
                        <button type="submit" class="botton1 btn btn-info">ค้นหา</button>
                    </div>
                </div> 
            </div>
            <div class="row justify-content-center">
                <label style="text-align: center;"><input type="checkbox" name="isEndOnly"> ลงท้ายเท่านั้น</label>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row" style="display:flex; flex-wrap: wrap;">  
            <% Lottery.forEach(function(l){ %>
                <div class="shop col-sm-6 col-md-3 img-thumbnail" style="text-align: center; margin-bottom: 10px;">
                    <figure><img class="img-fluid" src='/lotteriesData/<%= l.image %>'></figure>
                    <p><%= l.number %></p>
                    <p><%= l.price %> บาท</p>
                    <p style="color: crimson;">ส่วนลด -<%= l.discount %>%</p>
                        <a class="botton2 btn btn-outline-primary" href="/blog/lotId=<%= l._id %>" role="button">ดูรายละเอียด</a>
                    <p> </p>
                </div>
            <% }); %>
            <% if(Lottery.length == 0){ %>
                <div class="container">
                    <p style="text-align: center; color: red;" id="err">ไม่พบเลขสลากดังกล่าว</p>
                </div>
            <% } %>
        </div>
    </div>

<%- include("partials/footer") %>