<%- include("partials/header") %>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/shop.css">
	<script src="/js/shop.js" defer></script>

    <link rel="stylesheet" href="/css/shop.css">
    <script src="/js/shop.js" defer></script>

    <div class="container mb-3">
        <br>
        <div class="row justify-content-md-center">
            <div class="col-lg-6 col-md-9 col-sm-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="ใส่หมายเลขที่คุณต้องการค้นหา">
                    <button type="button" class="botton1 btn btn-info">ค้นหา</button>
                </div>
                <div class="container" style="text-align: center;"><br>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">ลงท้ายเท่านั้น
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">ตำแหน่งใดก็ได้
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="display:flex; flex-wrap: wrap;">
            <% Lottery.forEach(function(l){ %>
                <div class="col-sm-6 col-md-3 img-thumbnail" style="text-align: center; margin-bottom: 10px;">
                    <img class="img-fluid" src=<%= l.image %>>
                    <p><%= l.number %></p>
                    <p><%= l.price %> บาท</p>
                    <p style="color: crimson;">ส่วนลด -<%= l.discount %>%</p>
                    <a class="botton2 btn btn-outline-primary" href="/blog/lotId=<%= l._id %>" role="button">ซื้อเลย</a>
                    <p> </p>
                </div>
            <% }); %>
        </div>
    </div>
<%- include("partials/footer") %>