<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/status.css">
    <script src="/js/status.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" defer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>    
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
      <a href="/" class="logo"><img src ="/images/khohuai1.png"></a>
      <a href="/admin/add" class="w3-bar-item w3-button">เพิ่ม/ลบ สลาก</a>
      <a href="/admin/lotday" class="w3-bar-item w3-button">ผลออกสลาก</a>
      <a href="/admin/status" class="w3-bar-item w3-button">สถานะการโอนเงิน</a>
    </div>
    <div class="w3-main" style="margin-left:200px">
      <div class="main">
        <button class="w3-button w3-white w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="head w3-container">
          <h3>ผู้ดูแลระบบ</h3>
        </div>
      </div>
      <div class="container col-sm-12" style="min-height: 400px">
        <br>
        <h4>สถานะการโอนเงิน</h4>
        <br>
        <div class="table-responsive">
          <table class="table table-hover">
              <thead>
                  <th>งวด</th>
                  <th>วัน/เดือน/ปี ที่ซื้อ</th>
                  <th>รางวัลที่ถูก</th>
                  <th>หมายเลขที่ถูกรางวัล</th>
                  <th>จำนวนเงินรางวัล</th>
                  <th>สถานะ</th>
                  <th>หลักฐานการโอน</th>
              </thead>
              <tbody>
                <% Winner.forEach(function(w){ %>
                  <tr>
                      <td><%= w.t %></td>
                      <td><%= m(w.orderTime).format("DD-MMMM-YYYY HH:mm") %></td>
                      <td><%= w.rank %></td>
                      <td><%= w.number %></td>
                      <td><%= w.prize %></td>
                      <% if(w.status == false) { %>
                        <td>ยังไม่โอน</td>
                        <td>
                          <form method="post" id="status_update" action="/admin/transfer/<%= w._id %>" enctype="multipart/form-data">
                            <input type="file" name="trans" required/><button type="submit" class="btn btn-success">อัพโหลด</button>
                          </form>
                        </td>
                      <% } %>
                      <% if(w.status == true) { %>
                        <td>โอนแล้ว</td>
                        <td>
                          <form method="post" id="status_update" action="/admin/transfer/<%= w._id %>" enctype="multipart/form-data">
                            <input type="file" name="trans" required/><button type="submit" class="btn btn-success">อัพเดท</button>
                          </form>
                        </td>
                      <% } %>
                      
                  </tr>
                <% }); %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>